<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Basics-of-Python/blob/main/dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

In [36]:
#creating a dictionary
data={'name':"Sreya",'age':23}
print(data)

data=dict(name="Sreya",age=23)
print(data)

#zip method
keys=['name','age']
values=['Sreya',23]
data=dict(zip(keys,values))
print(data)

{'name': 'Sreya', 'age': 23}
{'name': 'Sreya', 'age': 23}
{'name': 'Sreya', 'age': 23}

In [37]:
#key-value pair
#ordered collection
data={'name':"Sreya",'age':23}
print(data)

{'name': 'Sreya', 'age': 23}

# Accessing values

In [38]:
#values are accessed using key (cannot be accessed using index)
print(data["name"])
#get()
print(data.get("name"))

print(data.get("dob","Key is not available"))

Sreya
Sreya
Key is not available

# Updating Dictionary

In [39]:
print(data)
data["name"]="Minny"
print(data)

{'name': 'Sreya', 'age': 23}
{'name': 'Minny', 'age': 23}

In [40]:
#adding new key-value pair
data["dob"]="2002"
print(data)
#value can string,int,dict,tuple,list
data["skills"]=['BigQuery','Python']
print(data)
print(data["skills"][0])

{'name': 'Minny', 'age': 23, 'dob': '2002'}
{'name': 'Minny', 'age': 23, 'dob': '2002', 'skills': ['BigQuery', 'Python']}
BigQuery

In [41]:
address={"state":"Telangana","city":"Hyderabad"}
data.update(address)
print(data)

{'name': 'Minny', 'age': 23, 'dob': '2002', 'skills': ['BigQuery', 'Python'], 'state': 'Telangana', 'city': 'Hyderabad'}

# citizenship check

In [42]:
print("name" in data)
print("name" not in data)
print("phn_no" in data)

True
False
False

# deleting data

In [43]:
#pop()
data.pop("state") #indicate the key that you want to remove
print(data)

{'name': 'Minny', 'age': 23, 'dob': '2002', 'skills': ['BigQuery', 'Python'], 'city': 'Hyderabad'}

In [44]:
#popitem()
data.popitem() #removes last item
print(data)

{'name': 'Minny', 'age': 23, 'dob': '2002', 'skills': ['BigQuery', 'Python']}

In [45]:
#del
del data["dob"]
print(data)
#deleting a object
del data

{'name': 'Minny', 'age': 23, 'skills': ['BigQuery', 'Python']}

In [47]:
#print(data) #NameError : name 'data' is not defined

# Iteration in a Dictionary

In [49]:
data={'name': 'Minny', 'age': 23, 'dob': '2002', 'skills': ['BigQuery', 'Python'], 'state': 'Telangana', 'city': 'Hyderabad'}
print(data)

{'name': 'Minny', 'age': 23, 'dob': '2002', 'skills': ['BigQuery', 'Python'], 'state': 'Telangana', 'city': 'Hyderabad'}

In [50]:
#printing keys
for i in data:
  print(i,end=" ")

name age dob skills state city

In [51]:
#printing value
for i in data:
  print(data[i],end=" ")

Minny 23 2002 ['BigQuery', 'Python'] Telangana Hyderabad

In [54]:
#printing key,values
for i in data:
  print(i,data[i])

name Minny
age 23
dob 2002
skills ['BigQuery', 'Python']
state Telangana
city Hyderabad

In [53]:
#printing key,values using items()
for key,value in data.items():
  print(key,value)

name Minny
age 23
dob 2002
skills ['BigQuery', 'Python']
state Telangana
city Hyderabad

Other Dictionary methods

In [55]:
#keys
print(data.keys())
#values
print(data.values())
#items
print(data.items())

dict_keys(['name', 'age', 'dob', 'skills', 'state', 'city'])
dict_values(['Minny', 23, '2002', ['BigQuery', 'Python'], 'Telangana', 'Hyderabad'])
dict_items([('name', 'Minny'), ('age', 23), ('dob', '2002'), ('skills', ['BigQuery', 'Python']), ('state', 'Telangana'), ('city', 'Hyderabad')])

In [57]:
#example: To find frequency of the characters in a string
name="Sreya Kukutapu"
frequency={}
for i in name:
  if i in frequency:
    frequency[i]+=1
  else:
    frequency[i]=1
print(frequency)

{'S': 1, 'r': 1, 'e': 1, 'y': 1, 'a': 2, ' ': 1, 'K': 1, 'u': 3, 'k': 1, 't': 1, 'p': 1}