<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Basics-of-Python/blob/main/lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

In [3]:
#initialization
data=['a','b']
print(type(data))
data=list(('a','b'))
print(type(data))

<class 'list'>
<class 'list'>

In [4]:
#len()
length=len(data)
print(length)

2

In [5]:
#accessing
print(data[0])
print(data[-1])

a
b

In [9]:
#mutability: lists are mutable
data=['a','b']
print(id(data))

# updating the value at index 1
data[1]='c'
print(id(data)) # address remains same, i.e., mutable

#strings are immutable
name="Sreya"
print(name[0])
# name[0]="s"
# print(name)

135913673065984
135913673065984
S

In [10]:
#lists are iterable
for i in data:
    print(i)

a
c

# List slicing

In [12]:
data=['sreya','kukutapu','female','employee','Telangana']
print(data[::]) #complete list. By default: start=0,end=len(obj),step=1
print(data[::-1]) #reverse
print(data[0:len(data):2])

['sreya', 'kukutapu', 'female', 'employee', 'Telangana']
['Telangana', 'employee', 'female', 'kukutapu', 'sreya']
['sreya', 'female', 'Telangana']

# Inbuilt methods

In [19]:
#count()

fruits=['apple','orange','banana','apple']
print(fruits.count('apple'))

2

In [20]:
#index()

print(fruits.index('orange'))

1

In [53]:
#pop():The pop() method is used to remove and return an element from a list.
#By default (without any arguments), it removes and returns the last element.

fruits.pop()
print(fruits)

fruits=['apple','orange','banana','apple']
print(fruits.pop(1)) #removes and returns the element at index 1
print(fruits)

['apple', 'banana']
orange
['apple', 'banana', 'apple']

In [22]:
#remove(): removes first occurance

fruits.remove('apple')
print(fruits)

['orange', 'banana']

In [35]:
#sort()
fruits=['apple','orange','banana','apple']
fruits.sort() # default order: ascending
print(fruits)
fruits.sort(reverse=True) #descending
print(fruits)

['apple', 'apple', 'banana', 'orange']
['orange', 'banana', 'apple', 'apple']

In [36]:
#insert()
fruits=['apple','orange','banana','apple']
fruits.insert(1,'kiwi')
print(fruits)

['apple', 'kiwi', 'orange', 'banana', 'apple']

In [37]:
#append(): adds an element at the end
fruits.append('mango')
print(fruits)

['apple', 'kiwi', 'orange', 'banana', 'apple', 'mango']

In [39]:
#extend(): to combine two lists
fruits1=['apple','orange','banana','apple']
fruits2=['grapes','pineapple']
fruits1.extend(fruits2)
print(fruits1)

['apple', 'orange', 'banana', 'apple', 'grapes', 'pineapple']

In [50]:
#sum
numbers=[1,2,3,4,5]
print(sum(numbers))

15

# Heterogenous lists

In [40]:
details=['Sreya','Female',23,True]
print(details)

['Sreya', 'Female', 23, True]

2D lists

In [44]:
students_details=[['Sreya',2002],['Srija',1999]]
print(students_details)
print(students_details[0])
print(students_details[0][0])
print(students_details[0][1])
print(students_details[1])
print(students_details[1][0])
print(students_details[1][1])
print(students_details[-2][0])

[['Sreya', 2002], ['Srija', 1999]]
['Sreya', 2002]
Sreya
2002
['Srija', 1999]
Srija
1999
Sreya

In [46]:
#iteration in 2D LISTs
for student in students_details:
    print(student)

for student in students_details:
    for detail in student:
        print(detail)

['Sreya', 2002]
['Srija', 1999]
Sreya
2002
Srija
1999

#list comprehension:
List comprehension provides a concise way to create lists. It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses.

new_list = [expression for item in iterable if condition]

In [48]:
#Traditional Approach (using a for loop):

squares = []
for i in range(1, 11):
    if i % 2 == 0:
      squares.append(i**2)
print(squares)

[4, 16, 36, 64, 100]

In [49]:
# Using List Comprehension:

squares=[i**2 for i in range(1,11) if i%2==0]
print(squares)

[4, 16, 36, 64, 100]