<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Basics-of-Python/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for loop: Use when you know the number of iterations in advance.

while loop: Use when the number of iterations is unknown and depends on a condition.

# while loop

In [ ]:
#initialize
i=1

value=int(input("Enter any number: "))

while(i<=10): #while the condition is true, statements are executed
  print(i*value)
  i+=1 #increment

Enter any number: 5
5
10
15
20
25
30
35
40
45
50

In [ ]:
# example: printing the even numbers from 1-10
i=1
while(i<=10):
  if(i%2==0):
    print(i,end=" ")
  i+=1

2 4 6 8 10

In [ ]:
# example: sum of the numbers

number=int(input("Enter any number:"))
i=1
sum=0
while(i<=number):
  sum+=i
  i+=1
print(sum)

Enter any number:10
55

# range() function:
range() allows users to generate series of numbers. It is iterable as well.

In [ ]:

# Now, this should work correctly:
list(range(1, 10, 2))  # range(start,stop,step)
list(range(1,5)) #start is included and end is excluded -->end-1
list(range(10,1,-2))

[10, 8, 6, 4, 2]

Iterable, Iterator and Iteration

Iterable: An object capable of returning its members one at a time. (e.g., a list, tuple, string)

Iterator: An object that produces the next value from an iterable when you call next() on it.

Iteration: The process of repeatedly getting the next value from an iterator until it's exhausted. (e.g., using a for loop)

Relating back to the chocolate distribution analogy:

Iterable: The box of chocolates the child is carrying.

Iterator: The child's hand reaching into the box to get one chocolate.

Iteration: The process of the child distributing chocolates one by one to each student.

# for loop

In [ ]:
# for iterator in iterable:

for i in range(1,11):
  print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
#example: multiplication table

value=int(input("Enter any number: "))
for i in range(1,11):
  print(i*value, end=" ")

Enter any number: 4
4 8 12 16 20 24 28 32 36 40

pattern

###
###
###

In [ ]:
n=3
for row in range(0,n):
  for column in range(0,n):
    print("#",end="")
  print() #new line for each row

###
###
###

pattern 2

#

##

###

###

##

#

In [ ]:
n=3
for row in range(1,n+1):
  for column in range(row):
    print("#",end="")
  print()
for row in range(n,0,-1):
  for column in range(row):
    print("#",end="")
  print()

#
##
###
###
##
#

In [ ]:
spaces=n-1
star=1
for i in range(n):
  print(" "*spaces+"*"*star)
  spaces-=1
  star+=2

    *
   ***
  *****
 *******
*********

In [ ]:
rows=5
for i in range(1, rows + 1):
    # Print spaces
    print(" " * (rows - i), end="")
    # Print stars
    print("*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********

Break, Continue and Pass

These statements are used to alter the flow of a program

break: Immediately terminates the current loop.

continue: Skips the rest of the current iteration and proceeds to the next.

pass: Acts as a placeholder, doing nothing.

In [ ]:
#pass: to avoid syntax error
for i in range(1,11):
  pass

def function(): #function definition
  pass

In [ ]:
# break
for i in range(1,11):
  if(i==6):
    break
  print(i,end=" ")

1 2 3 4 5

In [ ]:
#continue
for i in range(1,11):
  if(i==6):
    continue
  print(i,end=" ") # 6 is skipped

1 2 3 4 5 7 8 9 10