<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Basics-of-Python/blob/main/operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Arithmetic Operators

In [ ]:
a=6
b=2

In [ ]:
# addition
print(a+b)

#string concat
a="Sreya "
b="Kukutapu"
print(a+b)

print("1"+"1")

8
Sreya Kukutapu
11

In [ ]:
#sub
a-b
# print(c)

4

In [ ]:
#mul
a*b
# print(c)

12

In [ ]:
#div
7/3

2.3333333333333335

In [ ]:
#mod
c=7%3
print(c)

1

In [ ]:
#floor division: the result is floored to the nearest integer
c=7//3
print(c)

2

In [ ]:
# Tothe power
c=2**3
print(c)

8

# comparison operators

In [ ]:
# prompt: Comparison operators in python with example

# # Arithmetic Operators
a=6
b=2

# # comparison operators

# Equal to (==)
print(a == b)  # Output: False

# Not equal to (!=)
print(a != b)  # Output: True

# Greater than (>)
print(a > b)  # Output: True

# Less than (<)
print(a < b)  # Output: False

# Greater than or equal to (>=)
print(a >= b)  # Output: True

# Less than or equal to (<=)
print(a <= b)  # Output: False

# Comparing strings
str1 = "hello"
str2 = "world"
print(str1 == str2) # Output: False
print("hello"=="hello") # Output : True
print(str1 < str2) # Output: True (lexicographical comparison)

False
True
True
False
True
False
False
True
True

# Assignment operators

In [ ]:
# prompt: assignment operators examples

# Assignment operators

# Basic assignment
x = 10
print(x)  # Output: 10

# Add and assign (+=)
x += 5  # Equivalent to x = x + 5
print(x)  # Output: 15

# Subtract and assign (-=)
x -= 3  # Equivalent to x = x - 3
print(x)  # Output: 12

# Multiply and assign (*=)
x *= 2  # Equivalent to x = x * 2
print(x)  # Output: 24

# Divide and assign (/=)
x /= 4  # Equivalent to x = x / 4
print(x)  # Output: 6.0

# Modulo and assign (%=)
x %= 3  # Equivalent to x = x % 3
print(x)  # Output: 0.0

# Floor divide and assign (//=)
x = 10
x //= 3  # Equivalent to x = x // 3
print(x)  # Output: 3


# Exponent and assign (**=)
x = 2
x **= 3  # Equivalent to x = x ** 3
print(x)  # Output: 8

10
15
12
24
6.0
0.0
3
8

# Logical Operators

In [ ]:
# prompt: logical operators example

# Logical Operators

# and (returns True if both operands are True)
a = True
b = False
print(a and b)  # Output: False

# or (returns True if at least one operand is True)
print(a or b)  # Output: True

# not (inverts the truth value of an operand)
print(not a)  # Output: False

# Examples with numbers (0 is considered False, other numbers are True)
x = 5
y = 0
print(x and y)  # Output: 0 (y is False)
print(x or y)  # Output: 5 (x is True)
print(not x)  # Output: False (x is True, so not x is False)

# Combining logical operators
print((x > 0) and (y < 10)) # Output: True
print((x < 0) or (y == 0))  # Output: True
print(not (x == y)) #Output: True

# Special Operators
1. in operator (membership operator)
2. is operator (tells if both the objects are at same memory location)

In [ ]:
name="Sreya"
print("S" in name)
print("s" in name)

True
False

In [ ]:
a=5
b=5
c=6
print(id(a))
print(id(b))
print(id(c))
print(a is b)
print(b is c)

137425121640816
137425121640816
137425121640848
True
False

In [ ]:
print(0 or 1)

1