<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Basics-of-Python/blob/main/printFunction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# printing multiple values using print function

In [ ]:
print("Sreya","Kukutapu",2002)

Sreya Kukutapu 2002

# default separator and end

In [ ]:
#default separator is space (' ') and ends with new line ('\n')

help("print")

# print("hello")
# print("world")

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

hello
world

# overwriting default properties

In [ ]:
print("Sreya","Kukutapu",2002) # default sep is space

Sreya Kukutapu 2002

In [ ]:
print("Sreya","Kukutapu",2002, sep =",") # changing sep to comma
print("Sreya","Kukutapu",2002,sep="\n") # changing sep to new line

Sreya,Kukutapu,2002
Sreya
Kukutapu
2002

In [ ]:
print("Sreya","Kukutapu",2002)
print("Minny","Kukutapu",2002)  #default end="\n"

print("Sreya","Kukutapu",2002,end="\t") #changing the end
print("Minny","Kukutapu",2002)

print("Sreya","Kukutapu",2002,end="xx") #changing the end
print("Minny","Kukutapu",2002)

Sreya Kukutapu 2002
Minny Kukutapu 2002
Sreya Kukutapu 2002	Minny Kukutapu 2002
Sreya Kukutapu 2002xxMinny Kukutapu 2002