<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Basics-of-Python/blob/main/pythonFundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello World

In [ ]:
print('Hello World!')

Hello World!

# Variables

In [ ]:
salary=1000
bonus=100
total_salary=salary+bonus
print(total_salary)

1100

Variable names are case-sensitive

In [ ]:
age=22
Age=23
print(age)
print(Age)

22
23

Keywords cannot be used as identifiers

In [ ]:
#list of keywords
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
# class = 'xxx'
# print(class) --> Throws an error

# Stack and Heap Memory

Stack: Stores local variables and function call information, including references (pointers) to objects on the heap. Operates in a LIFO manner.

Heap: Stores the actual data of objects (like lists, dictionaries, class instances) which are referenced by variables on the stack. Managed by Python's garbage collector.

# id() function

In Python, when you assign a value to a variable, it's stored in a memory location. Reassigning the variable with a different value, especially with immutable types like integers, often leads to Python allocating a new memory location.

You can use the id() function to check a variable's memory address.

In [ ]:
x=5
print(id(x))
x=6
print(id(x))

137898115318128
137898115318160

# Data Types in Python

Numeric Types:

•	Integer (int): Represents whole numbers, positive or negative, without decimals. For example: 10, -5, 0.

•	Float (float): Represents numbers with decimal points. For example: 3.14, -2.5, 0.0.

Text Type:

•	String (str): Represents a sequence of characters (text). Enclosed in single quotes ('...') or double quotes ("..."). For example: "Hello", 'Python'.

Boolean Type:

•	Boolean (bool): Represents truth values, either True or False. Used in logical operations and conditions.

Sequence Types:

•	List (list): An ordered, mutable (changeable) collection of items. Items can be of different data types. Enclosed in square brackets ([...]). For example: [1, 2, 3], ['apple', 'banana']. Tuple (tuple): Similar to lists, but immutable (unchangeable) once created. Enclosed in parentheses ((...)). For example: (1, 2, 3), ('red', 'green').

Mapping Type:

•	Dictionary (dict): A collection of key-value pairs. Keys are unique and used to access their corresponding values. Enclosed in curly braces ({...}). For example: {'name': 'Alice', 'age': 30}.

Set Types:

•	Set (set): An unordered collection of unique items. Items can be of different data types. Enclosed in curly braces ({...}). For example: {1, 2, 3}, {'apple', 'banana'}.

None Type:

•	NoneType (NoneType): Represents the absence of a value. Often used to indicate that a variable or function doesn't have a specific value assigned yet.

# type() function

type() returns the data type of an object.

In [ ]:
#integer
a=20
print(type(a))

<class 'int'>

In [ ]:
#float
price = 14.5
print(type(price))

<class 'float'>

In [ ]:
#string

#single line comments
name = 'Sreya'
print(name)
name = "Sreya"
print(name)
name='''Sreya'''
print(name)
#multiline comments
name="""
My name is Sreya
"""
print(name)
print(type(name))
print(type('a'))

Sreya
Sreya
Sreya

My name is Sreya

<class 'str'>
<class 'str'>

In [ ]:
#boolean

is_student = True
print(is_student)
print(type(is_student))

is_employee = False
print(is_employee)
print(type(is_employee))

True
<class 'bool'>
False
<class 'bool'>

In [ ]:
#list

numbers = [1,2,3,4,5]
print(numbers)
print(type(numbers))

[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
#tuple

coordinates = (10,20)
print(coordinates)
print(type(coordinates))

(10, 20)
<class 'tuple'>

In [ ]:
#dictionary

person = {'name': 'Sreya', 'age': 23}
print(person)
print(type(person))

{'name': 'Sreya', 'age': 23}
<class 'dict'>

In [ ]:
#set

marks = {90, 80, 70, 70}
print(marks)
print(type(marks))

{80, 90, 70}
<class 'set'>

In [ ]:
#none

value = None
print(value)
print(type(value))

None
<class 'NoneType'>

# input() function

input() reads a line of text from the user's input and returns it as a string.

In [ ]:
name = input("Enter your name: ")
print("Hello, " + name + "!")

Enter your name: Sreya
Hello, Sreya!

In [ ]:
age=input("Enter your age: ")
print(type(age))

Enter your age: 23
<class 'str'>

Type Conversion

In [ ]:
age=int(input("Enter your age: "))
print(type(age))

Enter your age: 23
<class 'int'>

In [ ]:
price=float(input("Enter the price: "))
print(type(price))

Enter the price: 4.55
<class 'float'>

In [ ]:
age=12
str_age=str(age) # integer to string
print(str_age)
print(type(str_age))

price=12.5
str_price=str(price) # float to string
print(str_price)
print(type(str_price))

12
<class 'str'>
12.5
<class 'str'>

In [ ]:
# string -> float -> integer
price="12.5"
float_price=float(price)
print("Price is " + str(float_price) + " and the type is "+str(type(float_price)))

int_price=int(float_price)
print("Price is " + str(int_price)+ " and the type is " + str(type(int_price)))

Price is 12.5 and the type is <class 'float'>
Price is 12 and the type is <class 'int'>