<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Basics-of-Python/blob/main/set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction
#unique collection , unordered, unindexed, mutable

In [3]:
#creating a set
data={1,2,3}
print(data)

data=set((1,1,2,3))
print(data)

{1, 2, 3}
{1, 2, 3}

In [1]:
#unique collection
data={1,1,2,3}
print(data)

{1, 2, 3}

In [7]:
#unordered
data={3,1,2}
print(data)
data=set("Sreya")
print(data)

{1, 2, 3}
{'S', 'r', 'a', 'e', 'y'}

In [8]:
#unindexed
data={3,1,2}
#print(data[0]) #throws a error: TypeError: 'set' object is not subscriptable

# updating a set

In [10]:
data={1,2,3}
data.add(4)
print(data)
name="Sreya"
data.update(name)
print(data)

{1, 2, 3, 4}
{1, 2, 3, 4, 'S', 'r', 'a', 'e', 'y'}

# deleting an element

In [14]:
#pop() : removes a random element
data={1,2,3}
data.pop()

print(data)

{2, 3}

In [15]:
#remove(): to remove a particular element
data={1,2,3}
data.remove(2)
print(data)

{1, 3}

# Other methods

In [20]:
#intersection: return common elements from the two sets
data1={1,2,3}
data2={2,3,4}
print(data1.intersection(data2))

{2, 3}

In [19]:
#union : combine the elements (common elements are considered only once)
print(data1.union(data2))

{1, 2, 3, 4}

In [21]:
#difference
print(data1.difference(data2)) # A.difference(b) returns all the elements in A but not in set b. Similarly vice versa

{1}

# example: Find no of unique words in a sentence

In [23]:
sentence = "This is a sentence with some repeated words like sentence and words"
words = sentence.split()
unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'is', 'and', 'with', 'like', 'sentence', 'a', 'some', 'repeated', 'This', 'words'}
10

In [27]:
# a={'Aurn', 'Nikhil', 'Seeta'}
# a[0]= 'Arun'
# print(a)

In [28]:
sets = {3, 4, 5}
sets = sets.union({1, 2, 3})
print(sets)

{1, 2, 3, 4, 5}

In [31]:
sets = {3, 4, 5}
sets.update([1, 2, 3])
print(sets)

{1, 2, 3, 4, 5}

In [33]:
# set1 = {1, 2, 4}
# set2 = {4, 5, 6}
# print(len(set1 + set2))