<a href="https://colab.research.google.com/github/SREYAKUKUTAPU/Basics-of-Python/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

In [15]:
#creating a tuple
data=("x","y","z")
print(data)

data=tuple(["x","y","z"])
print(data)

t1=(2)
print(type(t1))
t2=(2,)
print(t2)

t3=tuple("Sreya") #String is a iterable
print(t3)
t3=tuple(["Sreya"]) #list is a iterable
print(t3)
t3=tuple(range(1,11))
print(t3)

('x', 'y', 'z')
('x', 'y', 'z')
<class 'int'>
(2,)
('S', 'r', 'e', 'y', 'a')
('Sreya',)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
#ordered collection
data=("x","y","z")
print(data[1])

y

In [17]:
#tuple is immutable, but we can update a value if the value is mutubale eg:list
#data[1]="a" #throws error
data=("x","y",["a","b"])
data[2][0]="A"
print(data)

('x', 'y', ['A', 'b'])

In [8]:
#iterable
for i in data:
    print(i)

x
y
z

In [10]:
#heterogenous
data=(1,"a",True,None,1.5)
print(data)

(1, 'a', True, None, 1.5)

Unpacking a tuple

In [18]:
t=(1,2,3)
a,b,c=t
print(a,b,c)

1 2 3

In [19]:
#list unpacking
# t=[1,2,3]
# a,b,c=t
# print(a,b,c)

1 2 3

# Tuple methods

In [22]:
#count()
t=(1,2,3,2,4,1)
print(t.count(1))
print(t.count(45))

2
0

In [27]:
#index()
print(t.index(2))
print(t.index(2,2))

1
3

In [31]:
#concatenation
t=(1,2)
t1=(3,4)
t2=t+t1
print(t2)

print(t2*2)
print(t2)

(1, 2, 3, 4)
(1, 2, 3, 4, 1, 2, 3, 4)
(1, 2, 3, 4)

In [32]:
#tuple to list
list1=list((1,2))
print(list1)

tuple1=tuple(list1)
print(tuple1)

[1, 2]
(1, 2)

In [33]:
fruits=('orange')
print(type(fruits))

<class 'str'>

In [35]:
name_lst = ["Vijay", "Vickey"]
tup = ("Item_1", 0.5, name_lst)
print(tup)
name_lst.append("Vishal")
print(tup)

('Item_1', 0.5, ['Vijay', 'Vickey'])
('Item_1', 0.5, ['Vijay', 'Vickey', 'Vishal'])

In [36]:
elements = (10, 20, 30, 40, 50, 60, 70, 80)
print(elements[2:5], elements[:4], elements[3:100])

(30, 40, 50) (10, 20, 30, 40) (40, 50, 60, 70, 80)

In [37]:
def get_index(tup, elem):

     try:
       return tup.index(elem)  # Use the built-in index() method
     except ValueError:
       return -1  # Return -1 if the element is not found